TARGET_SERVER=https://code-api.x-aio.com
MODEL_NAME=GLM-5.1
API_KEY=sk-114514
MODEL_ID=zai-org/GLM-5.1
REASONING_TYPE=glm
STRIP_MULTIMEDIA=true
VL_TOKEN_STRATEGY=none
WORKERS=4
HF_ENDPOINT=https://hf-mirror.com